@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "primeng/resources/themes/saga-blue/theme.css";
body {
  font-family: var(--font-family);
}

.overflow {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: inherit;
}

::-webkit-scrollbar {
  background-color: rgb(146, 206, 247);
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #13c1c7;
  border-radius: 10px;
}


html {
  font-size: 12px;
}

body {
  font-family: var(--font-family);
  font-weight: 600  !important;
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.outofstock {
  font-weight: 700;
  color: #ff5252;
  /* text-decoration: line-through; */
}

.lowstock {
  font-weight: 700;
  color: #ffa726;
}

.instock {
  font-weight: 700;
  color: #66bb6a;
}

.min-stok {
  font-weight: 700;
  color: #576ef1;
}


:root {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  --font-family: "Inter var", sans-serif;
  --font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  /* Cores principais */
  --text-color: #212529;
  --text-color-secondary: #495057;
  --primary-color: #0b64c9;
  --primary-color-text: #ffffff;

  /* Superfícies (fundos) */
  --surface-0: #ffffff;
  --surface-50: #f8f9fa;
  --surface-100: #f1f3f5;
  --surface-200: #e9ecef;
  --surface-300: #dee2e6;
  --surface-400: #ced4da;
  --surface-500: #adb5bd;
  --surface-600: #6c757d;
  --surface-700: #495057;
  --surface-800: #343a40;
  --surface-900: #212529;

  /* Tons de cinza */
  --gray-0: #ffffff;
  --gray-50: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #adb5bd;
  --gray-500: #6c757d;
  --gray-600: #495057;
  --gray-700: #343a40;
  --gray-800: #212529;
  --gray-900: #18181b;

  /* Layout */
  --content-padding: 1.125rem;
  --inline-spacing: 0.5rem;
  --border-radius: 6px;
  --surface-ground: #b2dae9;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dee2e6;
  --surface-hover: rgba(0, 0, 0, 0.05);

  /* Destaques */
  --focus-ring: none;
  --maskbg: rgba(0, 0, 0, 0.2);
  --highlight-bg: rgba(13, 110, 253, 0.16);
  --highlight-text-color: #212529;

  /* Ajuste do esquema de cores */
  color-scheme: light;

}
